apiVersion: sre.google.com/v2
kind: ServiceLevelObjective
metadata:
  name: gke-flask-latency-cut
  labels:
    service_name: gke
    feature_name: flask
    slo_name: latency-cut
    metadata:
      env: ${ENV}
spec:
  description: 99% of Flask app requests return in less than 250ms
  backend: prometheus
  method: distribution_cut
  exporters: []
  service_level_indicator:
    expression: flask_http_request_duration_seconds_bucket{app="flask-app-tutorial", path='/', status=~"2.."}
    threshold_bucket: 0.25 # in seconds, corresponds to the `le` (less than) PromQL label
  goal: 0.99
