apiVersion: sre.google.com/v2
kind: ServiceLevelObjective
metadata:
  name: gke-flask-availability-sli
  labels:
    service_name: gke
    feature_name: flask
    slo_name: availability-sli
    metadata:
      env: ${ENV}
spec:
  description: 99% of Flask app requests return a good HTTP code
  backend: prometheus
  method: query_sli
  exporters: []
  service_level_indicator:
    expression: > 
      sum(rate(flask_http_request_duration_seconds_bucket{app="flask-app-tutorial", path='/', status=~"2.."}[window])) 
      / 
      sum(rate(flask_http_request_duration_seconds_bucket{app="flask-app-tutorial",path='/'}[window]))
  goal: 0.99
